/* body {
  background: lightblue !important;
} */

label {
  font-size: 20px !important;
}

ul > li {
  list-style-type: none !important;
}

.times {
  font-size: 25px !important;
  cursor: pointer !important;
}
